{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
          "parser": "angular"
      }
    },
    {
      "files": "*.page.html",
      "options": {
          "parser": "angular"
      }
    },
    {
      "files": "*.html",
      "options": {
          "parser": "html"
      }
    }
  ]
}